<app-navbar></app-navbar>
<div class="image-container">
    <img src="./assets/about.png" alt="Background Image">
    <div class="text-overlay">
        <div class="text-row">
            <span class="text-item1">About us</span>
            <span class="text-item2">We’re proud to be the most loved trading site.
            </span>
        </div>
    </div>
</div>
<div class="div1">
    <img src="./assets/Vision.png" alt="">
    <div class="div2">
        <h1>Our Vision</h1>
        <p>At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 

            trading strategies, and maximize returns. We are committed to providing a seamless, reliable, and secure platform that drives success in the financial markets.</p>
    </div>
</div>
<div class="div11">
    <div class="div2">
        <h1>Our Mission</h1>
        <p>At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 

            trading strategies, and maximize returns. We are committed to providing a seamless, reliable, and secure platform that drives success in the financial markets.</p>
    </div>
    <img src="./assets/Mission.png" alt="">
</div>
<div class="div12">
    <img src="./assets/Goals.png" alt="">
    <div class="div2">
        <h1>Our Goals</h1>
        <p>At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 

            trading strategies, and maximize returns. We are committed to providing a seamless, reliable, and secure platform that drives success in the financial markets.</p>
    </div>
</div>
<div class="div21">
    <div class="div22" style=" border-right: 1px solid #848484;">
        <h1 id="count1">0</h1>
        <p>Total Algo Volume</p>
      
    </div>
    <div class="div22"  style=" border-right: 1px solid #848484;">
        <h1 id="count2">0</h1>
        <p>Total Happy Clients</p>
        <div class="inner-div1" style=" border-right: 1px solid #848484;" ></div>
    </div>
    <div class="div22">
        <h1 id="count3">0</h1>
        <p>Total Strategies</p>
    </div>
</div>
<div class="div41">
    <div class="div42">
        <img src="./assets/Expertise.png" alt="">
        <div class="div43">
            <h1>Expertise</h1>
            <p>At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 
    
                trading strategies, and maximize returns. We are committed to providing a seamless, reliable, and secure platform that drives success in the financial markets.</p>
        </div>
    </div>
    <div class="div42">
        <img src="./assets/Support.png" alt="">
        <div class="div43">
            <h1>Support</h1>
            <p>At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 
    
                trading strategies, and maximize returns. We are committed to providing a seamless, reliable, and secure platform that drives success in the financial markets.</p>
        </div>
    </div>
    <div class="div42">
        <img src="./assets/Faster.png" alt="">
        <div class="div43">
            <h1>Faster Excecution</h1>
            <p>At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 
    
                trading strategies, and maximize returns. We are committed to providing a seamless, reliable, and secure platform that drives success in the financial markets.</p>
        </div>
    </div>
</div>
<div class="div31">
    <div class="container5">
        <div class="faq">
            <div class="text333">
                <h1>How can we help
                    you?</h1>
                <p>Please enter your question and we will find a right
                    answer for you.</p>
                <button class="contact-button">Contact Us</button>
      
            </div>
            <div class="quest">
                <h1><img src="/assets/star.png" alt="icon">What services does Prasan Infotech offer?</h1>
                <p>We offer a range of IT services including software development, mobile app development, web development, server deployment, and IT consulting.</p>
                <hr>
                
                <h1><img src="/assets/star.png" alt="icon">Do you provide technical support after project completion?</h1>
                <p>Yes, we offer comprehensive technical support and maintenance services after project completion to ensure everything runs smoothly.</p>
                <hr>
            
                <h1><img src="/assets/star.png" alt="icon">What technologies do you work with?</h1>
                <p>We work with a wide range of technologies including Python, .NET, JavaScript, Angular, React, AWS, Azure, and more.</p>
                <hr>
            
                <h1><img src="/assets/star.png" alt="icon">Do you provide cloud migration services?</h1>
                <p>Absolutely. We offer cloud migration services to help businesses transition smoothly to cloud platforms with minimal disruption.</p>
                <hr>
            
                <h1><img src="/assets/star.png" alt="icon">How do you measure the success of a project?</h1>
                <p>We measure success based on project goals, client satisfaction, timely delivery, and the effectiveness of the implemented solutions.</p>
                <hr>
            </div>
            
      
        </div>
      
      </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted" style=" background-color: #111828">

  
    <!-- Section: Links  -->
    <section class=" foot">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4 mx-auto">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
            </h6>
            <p class="text088">
                Salmon Algo
            </p>
            <p class="div51">Contact :- 8602215015</p>
            <p class="div52">Email :- Salmonalgogmail.com</p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- <div class="col-md-2 col-lg-2 mx-auto col-xl-2 mb-4 text099">
           
            <h6 class="text-uppercase mb-4 ">
              Our Services
            </h6>
              <p>
                <a href="ui" class="text-reset">UI/UX</a>
              </p>
            
            
            <p>
              <a href="website" class="text-reset">Frontend Development</a>
            </p>
            <p>
              <a href="website" class="text-reset">Backend Development</a>
            </p>
            <p>
              <a href="app" class="text-reset">App Development</a>
            </p>
            <p>
                <a href="server" class="text-reset">Server Developement</a>
              </p>
          </div> -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mx-auto col-xl-3 mb-md-0 mb-4 text099">
            <!-- Links -->
            <h6 class="  mb-4 custom-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
            
                
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 text099" style="background-color:#0C4767; height: 20px; color: white;">
      © 2021 Copyright:
      <a class="text-reset " >Prasan Infotech.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->