<app-navbar></app-navbar>
<div class="image-container">
    <img src="./assets/pricing.png" alt="Background Image">
    <div class="text-overlay">
        <div class="text-row">
            <span class="text-item1">Pay Only for <span class="highlight-text">What You need</span></span>
            <span class="text-item2">At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic 
                trading strategies, and maximize returns. We are committed 
            </span>
        </div>
    </div>
</div>
<div class="div1">
    <div class="div2">
        <div class="div3">
            <h1>Basic</h1>
            <h2>$ 120</h2>
            <p>For Our Basic Customers For Our Basic Customers For Our Basic Customers</p>
            <button class="cta-button">See More</button>
        </div>
        <div class="div31">
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
        </div>

    </div>
    <div class="div2">
        <div class="div3">
            <h1>Basic</h1>
            <h2>$ 120</h2>
            <p>For Our Basic Customers For Our Basic Customers For Our Basic Customers</p>
            <button class="cta-button">See More</button>
        </div>
        <div class="div31">
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
        </div>
    </div>
    <div class="div2">
        <div class="div3">
            <h1>Basic</h1>
            <h2>$ 120</h2>
            <p>For Our Basic Customers For Our Basic Customers For Our Basic Customers</p>
            <button class="cta-button">See More</button>
        </div>
        <div class="div31">
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
            <div class="div32">
                <img src="/assets/Tick.png" alt="Icon" class="icon">
                <h1> <span class="div11">Free Connectors :</span> Access to Basic Functionalities</h1>
            </div>
        </div>
    </div>
</div>
