
<app-sidebar></app-sidebar>
<div class="section1">
  <app-landingnav></app-landingnav>
<div class="div1">
  <app-slider></app-slider>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Position</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Close Position</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Order Book</button>
      </li>

  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="frame6">
            <div class="headerdata">Symbol</div>
            <div class="headerdata">USDT</div>
            <div class="headerdata">ROI</div>
            <div class="headerdata">size (USDT)</div>
            <div class="headerdata">Market Price</div>
            <div class="headerdata">Entry Price</div>
            <div class="headerdata">Entry Date</div>
            <div class="headerdata">Profit</div>
        </div>
       
        <div class="frame7" >
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1" >7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3" >+9.12%</div>
        </div>
        <div class="frame7" >
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1" >7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3" >+9.12%</div>
        </div>
        <div class="frame7" >
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1" >7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3" >+9.12%</div>
        </div>
        <div class="frame7" >
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1" >7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3" >+9.12%</div>
        </div>
          
         
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
  </div>




  <!-- <div class="button-container">
    <button class="btn btn-primary" (click)="onMarketplaceClick()">MARKETPLACE</button>
    <button class="btn btn-secondary" (click)="onMyStrategiesClick()">My Strategies</button>
  </div> -->
  
  
  
</div>
</div>

