<div class="container5">
    <nav class="navbar navbar-expand-lg container1 ">
      
      <div class="section1000">
        <!-- <img class="image2002" style="width: 40px;" src="../assets/bethebull2.png"> -->
        <!-- <div class="navitem text4001" style="margin-left: 10px; ">TRADEBOXPRO</div> -->
       
        
  
      </div>
      <div class="section1001">
        
        <div class="image1001"><img style="width: 22px;" src="./assets/menu.png" alt=""></div>
        <!-- <div class="image1002"><button type="button" style="background-color: white;border-width: 0;"
            data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false"
            aria-controls="collapseWidthExample"><img style="width: 22px; margin-left: 20px;" src="./assets/bell.png"
              alt=""></button></div> -->
       
        <button class="navbar-toggler pro" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="flase" aria-label="Toggle navigation">
          <span><img style="width: 25px;" src="./assets/pro.png" /></span>
        </button>
  
      </div>
  
  
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 "  >
          <div class="section2001"  style=" overflow-y: auto">
            <div class="navitem logo">
              <div class="row " style="align-items: start; ">
                <!-- <div style="width: 20%;"><img style="width: 40px;" src="../assets/bethebull2.png"></div> -->
                <div style="width: 100%; ">
                  <div style="color: white;font-size: 16px;">Salmon Algo</div>
                </div>
              </div>
              <!-- <a class="nav-link" href="/dashboard" >Be The Bulls</a> -->
            </div>
  
            <div class="section4" style="margin-top: 10px;">
            <li class="nav-item navitem dropdown ">
              <a class="nav-link " href="/dashboard" role="button" aria-expanded="false"><img
                  src="../assets/Home.png" class="image2001">
                Dashboard
              </a>
            </li>
            <li class="nav-item navitem dropdown text-center">
              <a class="nav-link" href="/broker" role="button" aria-expanded="false"><img src="../assets/Lock.png"
                  class="image2001">
                Broker Login
              </a>
            </li>
            <li class="nav-item navitem dropdown text-center">
              <a class="nav-link" href="/portfolio" role="button" aria-expanded="false"><img src="../assets/Circle.png"
                  class="image2001">
                Portfolio
              </a>
            </li>
            <li class="nav-item navitem dropdown text-center">
              <a class="nav-link" href="/profit" role="button" aria-expanded="false"><img src="../assets/Money.png"
                  class="image2001">
                Profit Statement
              </a>
            </li>
            
          </div>
          <div class="section4" style="margin-top: 30px;">
            <li class="nav-item navitem dropdown text-center">
              <a class="nav-link" href="/demat" role="button" aria-expanded="false"><img src="../assets/Topup.png"
                  class="image2001">
                Open Demat
              </a>
            </li>
            <li class="nav-item navitem dropdown text-center">
              <a class="nav-link" href="/#" role="button" aria-expanded="false"><img src="../assets/Rescan.png"
                  class="image2001">
                  Signal Scanner
              </a>
            </li>
            <li class="nav-item navitem dropdown text-center">
              <a class="nav-link" href="/admin" role="button" aria-expanded="false"><img src="../assets/Admin.png"
                  class="image2001">
                Admin
              </a>
            </li>
            
          </div>
            <li class="nav-item navitem dropdown " style="margin-top: 30px;">
              <a class="nav-link dashboard" href="/" role="button" aria-expanded="false"><img
                  src="../assets/Logout.png" style="margin-top: 3px;" class="image2001">
                Log Out
              </a>
            </li>
          </div>
        </ul>
  
      </div>
  
  
  
    </nav>
  </div>
