<div style=" height: 100%; background-color: white ;" >
    
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse" style="overflow-y: auto;" >
      <div class="position-sticky" >
        <div class="list-group list-group-flush mx-3 ">
            <div  class="container" >
                <div style="width: 100%;" style="display: flex; align-items: start;justify-content: start;color: white; padding-top: 5px; "> SalmonAlgo</div>
                
            </div>
        <div class="container ">
            
            <div class="section4" style="margin-top: 20px;">
          <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple navitem"  aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img class="main-image"  src="../assets/Home.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Dashboard</span>
          </a>
          
          <a href="/broker" class="list-group-item list-group-item-action py-2 ripple navitem" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img src="../assets/Lock.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Broker Login</span>
          </a>
          <a href="/portfolio" class="list-group-item list-group-item-action py-2 ripple navitem" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img src="../assets/Circle.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Portfolio</span>
          </a>
          <a href="/profit" class="list-group-item list-group-item-action py-2 ripple navitem" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img src="../assets/Money.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Profit statement</span>
          </a>
          <a href="/demat" class="list-group-item list-group-item-action py-2 ripple navitem" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img src="../assets/Topup.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Open Demat</span>
          </a>
          <a href="/#" class="list-group-item list-group-item-action py-2 ripple navitem" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img src="../assets/Rescan.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Signal Scanner</span>
          </a>
          <a href="/admin" class="list-group-item list-group-item-action py-2 ripple navitem" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img src="../assets/Admin.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Admin</span>
          </a>
        </div>
        
          <a href="/" class="list-group-item list-group-item-action py-2 ripple navitem" style="background-color: #a2ff861f; color: white; margin-top: 30px; border-radius: 10px;" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"><img  src="../assets/Logout.png"
                style="width: 15px;height: 15px; margin-right:5px"></i><span>Log Out</span>
          </a>
          
        </div>
          
          
        </div>
      </div>
    </nav></div>
