<div class="section54">
    <div class="text1">Customer User Details</div>
    <div class="section55">
        <div class="text5">Search By:</div>
        <div class="select1">
            <select class="form-select" id="month" data-style="btn btn-outline-primary"
                aria-label="Default select example">
                <option value="2">select</option>
                <option value="7">Phone</option>
                <option value="8">Email</option>
            </select>
        </div>
        <div class="select1">
            <input class="form-control " type="text" id="email" placeholder="Enter Your details"
                formControlName="email">
        </div>
        <button class="button4">Search</button>
        <button class="button4">Edit</button>

    </div>
    <div style="display: flex;">
        <div class="row" style="background-color: #ffffff;  width: 100%;">
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Customer Id</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter Customer ID"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Broker Id</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter Broker ID"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Client Id</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter Client ID"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">First Name</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter First Name"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">last Name</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter Last Name"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Email</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter your email"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Phone No.</label>
                <input class="form-control ak" type="text" id="email" placeholder="Enter your phone no."
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Plan Status</label>
                <input class="form-control ak" type="text" id="email" placeholder="NA"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">Refercode</label>
                <input class="form-control ak" type="text" id="email" placeholder="NA"
                    formControlName="email">
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card" style="margin-top: 20px;  ">
                <label class="text3">OTP</label>
                <input class="form-control ak" type="text" id="email" placeholder="NA"
                    formControlName="email">
            </div>
        </div>
    </div>
</div>
