<app-sidebar></app-sidebar>
<div class="section1">
  <app-landingnav></app-landingnav>
  <div class="div1">
    <app-slider></app-slider>
    <div class="div51">
      <div class="div52">
        <select class="form-select dotted-border-glow" aria-label="Default select example">
          <option selected>Select Strategy</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="div53">
        <p>From Date :</p>
        <input class="date" type="date" name="" id="" />
        
      </div>
      <div class="div54">
        <p>To Date :</p>
        <input class="date" type="date" name="" id="" />
      </div>
      <div class="div61">
        <a href="path/to/your/file.ext" download class="download-btn">
          <img src="./assets/Down.png" alt="Download" />
        </a>
        
      </div>

 
        
         
       
        
    

      <!-- <div class="button-container">
    <button class="btn btn-primary" (click)="onMarketplaceClick()">MARKETPLACE</button>
    <button class="btn btn-secondary" (click)="onMyStrategiesClick()">My Strategies</button>
  </div> -->
    </div>
    <div class="table1">
    <div class="frame6">
      <div class="headerdata">Symbol</div>
      <div class="headerdata">USDT</div>
      <div class="headerdata">ROI</div>
      <div class="headerdata">size (USDT)</div>
      <div class="headerdata">Market Price</div>
      <div class="headerdata">Entry Price</div>
      <div class="headerdata">Entry Date</div>
      <div class="headerdata">Profit</div>
    </div>

    <div class="frame7">
      <div class="headerdata1">BTCUSDT</div>
      <div class="headerdata2">-0.089</div>
      <div class="headerdata2">-3.67%</div>
      <div class="headerdata1">7.305</div>
      <div class="headerdata1">0.36</div>
      <div class="headerdata1">0.5467</div>
      <div class="headerdata1">12-01-2023</div>
      <div class="headerdata3">+9.12%</div>
    </div>
    <div class="frame7">
      <div class="headerdata1">BTCUSDT</div>
      <div class="headerdata2">-0.089</div>
      <div class="headerdata2">-3.67%</div>
      <div class="headerdata1">7.305</div>
      <div class="headerdata1">0.36</div>
      <div class="headerdata1">0.5467</div>
      <div class="headerdata1">12-01-2023</div>
      <div class="headerdata3">+9.12%</div>
    </div>
    <div class="frame7">
      <div class="headerdata1">BTCUSDT</div>
      <div class="headerdata2">-0.089</div>
      <div class="headerdata2">-3.67%</div>
      <div class="headerdata1">7.305</div>
      <div class="headerdata1">0.36</div>
      <div class="headerdata1">0.5467</div>
      <div class="headerdata1">12-01-2023</div>
      <div class="headerdata3">+9.12%</div>
    </div>
    <div class="frame7">
      <div class="headerdata1">BTCUSDT</div>
      <div class="headerdata2">-0.089</div>
      <div class="headerdata2">-3.67%</div>
      <div class="headerdata1">7.305</div>
      <div class="headerdata1">0.36</div>
      <div class="headerdata1">0.5467</div>
      <div class="headerdata1">12-01-2023</div>
      <div class="headerdata3">+9.12%</div>
    </div>
  </div>
  </div>
</div>
