<div class="slider-container">
    <div class="slider-wrapper">
        <div class="box">
            <div class="section2">
                <div class="div3">BTCUSDT</div>
                <h1 class="text1">85223</h1>
                <!-- <h1 class="text2">43434</h1> -->
            </div>
            <div class="section3">
                <div class="div4">87%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">ETHUSDT</div>
                <h1 class="text1">87965</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">52%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">XRPUSDT</div>
                <h1 class="text1">22255</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">53%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">BNBUSDT</div>
                <h1 class="text1">41212</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">88%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">BTCUSDT</div>
                <h1 class="text1">20365</h1>
                <!-- <h1 class="text2">2323</h1> -->
            </div>
            <div class="section3">
                <div class="div4">93%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">ETHUSDT</div>
                <h1 class="text1">41265</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">23%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">XRPUSDT</div>
                <h1 class="text1">12665</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">47%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">BNBUSDT</div>
                <h1 class="text1">20331</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">41%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">BTCUSDT</div>
                <h1 class="text1">42359</h1>
                <!-- <h1 class="text2">2323</h1> -->
            </div>
            <div class="section3">
                <div class="div4">62%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="section2">
                <div class="div3">ETHUSDT</div>
                <h1 class="text1">33562</h1>
                <!-- <h1 class="text2">242444</h1> -->
            </div>
            <div class="section3">
                <div class="div4">46%</div>
                <img class="image1" src="./assets/graph.png" alt="">
            </div>
        </div>
    </div>
</div>