
<app-sidebar></app-sidebar>
<div class="section1">
    <app-landingnav></app-landingnav>
<div class="div1">
  <app-slider></app-slider>
  <h1>Open Your Demat Account</h1>
  <p>
    At Salmon Algo, our mission is to empower traders of all levels with cutting-edge algorithmic trading strategies, and maximize returns. We are committed 
  </p>
  <div class="div2">
    <div class="div100">
        <div class="div3">
            <img src="./assets/Angel.png" alt="">
        </div>
        <div class="div4">
            <div class="div5">
                <img src="./assets/yes.png" alt="Image description">
                <p>At Salmon Algo, our mission is to empower traders of all levels with</p>
            </div>
            <div class="div5">
                <img src="./assets/yes.png" alt="Image description">
                <p>At Salmon Algo, our mission is to empower traders of all levels with</p>
            </div>
            <div class="div5">
                <img src="./assets/yes.png" alt="Image description">
                <p>At Salmon Algo, our mission is to empower traders of all levels with</p>
            </div>
        </div>
        <div class="div9">
            <button class="subscribe-btn">Open your account</button>
          </div>
        
    </div>
    <div class="div100">
        <div class="div3">
            <img src="./assets/zerodha.png" alt="">
        </div>
        <div class="div4">
            <div class="div5">
                <img src="./assets/yes.png" alt="Image description">
                <p>At Salmon Algo, our mission is to empower traders of all levels with</p>
            </div>
            <div class="div5">
                <img src="./assets/yes.png" alt="Image description">
                <p>At Salmon Algo, our mission is to empower traders of all levels with</p>
            </div>
            <div class="div5">
                <img src="./assets/yes.png" alt="Image description">
                <p>At Salmon Algo, our mission is to empower traders of all levels with</p>
            </div>
        </div>
        <div class="div9">
            <button class="subscribe-btn">Open your account</button>
          </div>
        
    </div>
  </div>
</div>
</div>

