
  <app-sidebar></app-sidebar>
  <div class="section1">
    <app-landingnav></app-landingnav>
  <div class="div1">
    <app-slider></app-slider>
    <h1>Connect your broker</h1>
    <p>
      At Salmon Algo, our mission is to empower traders of all levels with
      cutting-edge algorithmic trading strategies, and maximize returns. We are
      committed
    </p>
    <div class="div2">
      <img
        src="./assets/Angel1.png"
        alt="Angel"
        (click)="onImageClick('Angel')"
        class="div4"
      />
      <img
        src="./assets/Choice1.png"
        alt="Choice"
        (click)="onImageClick('Choice')"
        class="div4"
      />
      <img
        src="./assets/zerodha1.png"
        alt="Zerodha"
        (click)="onImageClick('Zerodha')"
        class="div4"
      />
    </div>
  </div>
</div>

