
<app-sidebar></app-sidebar>
<div class="section1">
  <app-landingnav></app-landingnav>
<div class="div1">
  
  <app-slider></app-slider>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">MARKETPLACE</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Strategies</button>
    </li>
  
   
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="div2">
            <h1>Own House strategies</h1>
            <div class="div100">
                <div class="box">
                    <div class="div3">
                        <img src="./assets/arrow.png" alt="Description" class="div3-image">
                        <p class="div3-text">DCA</p>
                    </div>
                    <div class="div4">
                        <div class="div5">
                            <h1>created by</h1>
                            <h2>30.00% </h2>
                            <h3>Perpetual</h3>
                        </div>
                        <div class="div6">
                            <h1>Sanket Sawant</h1>
                            <h2>APR</h2>
                        </div>
                    </div>
                    <div class="div7">
                        <button class="div8">Intraday</button>
                        <button class="div8">High Risk</button>
                        <button class="div8">High Return</button>
                      </div>
                      <div class="div9">
                        <button class="subscribe-btn">Subscribe</button>
                      </div>
                </div>
                <div class="box">
                    <div class="div3">
                        <img src="./assets/arrow.png" alt="Description" class="div3-image">
                        <p class="div3-text">DCA</p>
                    </div>
                    <div class="div4">
                        <div class="div5">
                            <h1>created by</h1>
                            <h2>30.00% </h2>
                            <h3>Perpetual</h3>
                        </div>
                        <div class="div6">
                            <h1>Sanket Sawant</h1>
                            <h2>APR</h2>
                        </div>
                    </div>
                    <div class="div7">
                        <button class="div8">Intraday</button>
                        <button class="div8">High Risk</button>
                        <button class="div8">High Return</button>
                      </div>
                      <div class="div9">
                        <button class="subscribe-btn">Subscribe</button>
                      </div>
                </div>
                <div class="box">
                    <div class="div3">
                        <img src="./assets/arrow.png" alt="Description" class="div3-image">
                        <p class="div3-text">DCA</p>
                    </div>
                    <div class="div4">
                        <div class="div5">
                            <h1>created by</h1>
                            <h2>30.00% </h2>
                            <h3>Perpetual</h3>
                        </div>
                        <div class="div6">
                            <h1>Sanket Sawant</h1>
                            <h2>APR</h2>
                        </div>
                    </div>
                    <div class="div7">
                        <button class="div8">Intraday</button>
                        <button class="div8">High Risk</button>
                        <button class="div8">High Return</button>
                      </div>
                      <div class="div9">
                        <button class="subscribe-btn">Subscribe</button>
                      </div>
                </div>
                <div class="box">
                    <div class="div3">
                        <img src="./assets/arrow.png" alt="Description" class="div3-image">
                        <p class="div3-text">DCA</p>
                    </div>
                    <div class="div4">
                        <div class="div5">
                            <h1>created by</h1>
                            <h2>30.00% </h2>
                            <h3>Perpetual</h3>
                        </div>
                        <div class="div6">
                            <h1>Sanket Sawant</h1>
                            <h2>APR</h2>
                        </div>
                    </div>
                    <div class="div7">
                        <button class="div8">Intraday</button>
                        <button class="div8">High Risk</button>
                        <button class="div8">High Return</button>
                      </div>
                      <div class="div9">
                        <button class="subscribe-btn">Subscribe</button>
                      </div>
                </div>
                <div class="box">
                    <div class="div3">
                        <img src="./assets/arrow.png" alt="Description" class="div3-image">
                        <p class="div3-text">DCA</p>
                    </div>
                    <div class="div4">
                        <div class="div5">
                            <h1>created by</h1>
                            <h2>30.00% </h2>
                            <h3>Perpetual</h3>
                        </div>
                        <div class="div6">
                            <h1>Sanket Sawant</h1>
                            <h2>APR</h2>
                        </div>
                    </div>
                    <div class="div7">
                        <button class="div8">Intraday</button>
                        <button class="div8">High Risk</button>
                        <button class="div8">High Return</button>
                      </div>
                      <div class="div9">
                        <button class="subscribe-btn">Subscribe</button>
                      </div>
                </div>
            </div>
            
            
              
          </div>


    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
   
  </div>




  <!-- <div class="button-container">
    <button class="btn btn-primary" (click)="onMarketplaceClick()">MARKETPLACE</button>
    <button class="btn btn-secondary" (click)="onMyStrategiesClick()">My Strategies</button>
  </div> -->
  
  
  
</div>
</div>

