<div class="section54">
  <div class="text1">Admin Open Position Details</div>

  <div class="frame6">
    <div class="tab-content" id="pills-tabContent" style="width: 100%;">
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          <div class="frame6">
            <div class="headerdata">Symbol</div>
            <div class="headerdata">USDT</div>
            <div class="headerdata">ROI</div>
            <div class="headerdata">size (USDT)</div>
            <div class="headerdata">Market Price</div>
            <div class="headerdata">Entry Price</div>
            <div class="headerdata">Entry Date</div>
            <div class="headerdata">Profit</div>
          </div>

          <div class="frame7">
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1">7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3">+9.12%</div>
          </div>
          <div class="frame7">
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1">7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3">+9.12%</div>
          </div>
          <div class="frame7">
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1">7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3">+9.12%</div>
          </div>
          <div class="frame7">
            <div class="headerdata1">BTCUSDT</div>
            <div class="headerdata2">-0.089</div>
            <div class="headerdata2">-3.67%</div>
            <div class="headerdata1">7.305</div>
            <div class="headerdata1">0.36</div>
            <div class="headerdata1">0.5467</div>
            <div class="headerdata1">12-01-2023</div>
            <div class="headerdata3">+9.12%</div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
          tabindex="0"
        >
          ...
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
          tabindex="0"
        >
          ...
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0"
      >
        ...
      </div>
    </div>
  </div>
</div>
