<div class="section54">
    <div class="text1">Copy Trade Details</div>
    <div class="section55">
        <div class="text5">Select Broker:</div>
        <div class="select1">
            <select class="form-select" id="month" data-style="btn btn-outline-primary"
                aria-label="Default select example">
                <option value="2">select</option>
                <option value="7">Phone</option>
                <option value="8">Email</option>
            </select>
        </div>
        <div class="text5">Select Segement:</div>
        <div class="select1">
            <select class="form-select" id="month" data-style="btn btn-outline-primary"
                aria-label="Default select example">
                <option value="2">select</option>
                <option value="7">Phone</option>
                <option value="8">Email</option>
            </select>
        </div>
        <div class="text5">Select Strategy:</div>
        <div class="select1">
            <select class="form-select" id="month1" data-style="btn btn-outline-primary"
                aria-label="Default select example">
                <option value="2">select</option>
                <option value="7">Phone</option>
                <option value="8">Email</option>
            </select>
        </div>
        <div class="select1">
            <input class="form-control " type="text" id="email" placeholder="Enter Your details"
                formControlName="email">
        </div>
        

    </div>
    <div class="frame6">
        <div class="headerdata">Segement</div>
        <div class="headerdata">Quantity</div>
        <div class="headerdata">Owner</div>
        <div class="headerdata">Trade Type</div>
        <div class="headerdata">Trading Type</div>
        <div class="headerdata">Date & Time</div>
        <div class="headerdata">Action</div>
        
    </div>
   
    <div class="frame7" >
        <div class="headerdata1">BANKNIFTYOPTBUY</div>
        <div class="headerdata2">89</div>
        <div class="headerdata2">Xl5YLkFUQ</div>
        <div class="headerdata1" >Intraday</div>
        <div class="headerdata1">Live</div>
        <div class="headerdata1">11-06-2024 12:00:00 AM</div>
        <div class="headerdata1">12-01-2023</div>
      
    </div>
    <!-- <div class="frame7" >
        <div class="headerdata1">BTCUSDT</div>
        <div class="headerdata2">-0.089</div>
        <div class="headerdata2">-3.67%</div>
        <div class="headerdata1" >7.305</div>
        <div class="headerdata1">0.36</div>
        <div class="headerdata1">0.5467</div>
        <div class="headerdata1">12-01-2023</div>
        <div class="headerdata3" >+9.12%</div>
    </div> -->
   
</div>
